
.icon {
  animation: animate 0.2s infinite ease-in-out
}
@keyframes animate {
    0% 
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
  }